<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.name}のプロフィール"%>
      </h2>
      <table class="table">
        <tbody>
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url %>
          <% else %>
            <%= image_tag ("noavatar.png") , class:'icon' %>
          <% end %>
          <tr>
            <th class="table__col1">期限になりましたら支払います💸💸</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
      <%# <h2 class="page-heading">
        <%= "ユーザー名さんのプロトタイプ"%>
      <%# </h2>
      <div class="user__card"> %>
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
      <%# </div> %>
    </div>
  </div>
</div>